body
{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: railway;
    background-color: white;
    color: black;
    font-family: Arial, 'Arial Narrow';
    background-image: url(svg/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a
{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

/* #parallax
{
    background-image: url(svg/background.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
} */

#getToTopButton
{
    display: none;
    position: fixed;
    bottom: 1rem;
    width: 4rem;
    right: 2rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: black;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;  
}

#getToTopButton:hover
{
    background-color: lightgray;
}