@font-face {
    font-family: indie_flower;
    src: url(font/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: great_vibes;
    src: url(font/Great_Vibes/GreatVibes-Regular.ttf);
}

body
{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: great_vibes;
    background-color: #000;
    color: white;
}

a
{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

#parallax
{
    background-image: url(svg/layered-waves-background.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
}