/* *
{
    border: 1px solid red;   
} */

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.start-text
{
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 2rem;
    margin: 0.5rem;
}

.village
{
    font-size: 4rem;   
}

#container-start-text
{
    margin-top: 3rem;
}



