*
{
    border: 1px solid red;   
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.start-content
{
    display: flex;
    justify-content: center;
    flex: 1;
}

#sheet-music
{
    margin-top: 15rem;
}

#sheet-music img
{
    position: absolute;
}

#bezier-curve-notes
{
    padding-bottom: 1rem;
    width: 100%;
}

