/* *
{
    border: 1px solid red; 
} */

@font-face {
    font-family: indie_flower;
    src: url(font/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: great_vibes;
    src: url(font/Great_Vibes/GreatVibes-Regular.ttf);
}

body
{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;
}

a
{
    text-decoration: none;
}

.start-text
{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0.5rem;
}

.village
{
    font-size: 4rem;   
}

#container-start-text
{
    margin-top: 9rem;
}

#container-start-text p
{
    font-family: great_vibes;
    margin: 0;
}

#container-start-text img
{
    position: absolute;
    width: 30%;
    left: 36%;
    z-index: -1;
    top: 5%;
}

.about-text
{
    margin: auto;
    max-width: 40rem;
    position: initial;
}

#logo
{
    width: 20%;
    margin: 10rem auto auto auto;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, 0.4));
}

#about
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#parallax
{
    background-image: url(svg/background.svg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



