#sheet-music
{
    margin-top: 15rem;
}

#sheet-music img
{
    position: absolute;
}

#bezier-curve-notes
{
    padding-bottom: 1rem;
    width: 100%;
}

#sheet-music0
{
    right: 1rem;
    bottom: 12rem;
    width: 3%;
}

#sheet-music0:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music1
{
    right: 1rem;
    bottom: 7rem;
    width: 4%;
}

#sheet-music1:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music2
{
    right: 27rem;
    bottom: 9rem;
    width: 3%;
}

#sheet-music2:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music3
{
    right: 19rem;
    bottom: 5rem;
    width: 3%;
}

#sheet-music3:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music4
{
    left: 22rem;
    bottom: 10rem;
    width: 3%;
}

#sheet-music4:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music5
{
    left: 29rem;
    bottom: 11rem;
    width: 3%;
}

#sheet-music5:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music6
{
    left: 1rem;
    bottom: 13rem;
    width: 5%;
}

#sheet-music6:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music7
{
    right: 14rem;
    bottom: 7rem;
    width: 2%;
}

#sheet-music7:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music8
{
    right: 10rem;
    bottom: 8rem;
    width: 2%;
}

#sheet-music8:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music9
{
    right: 25rem;
    bottom: 7rem;
    width: 2%;
}

#sheet-music9:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music10
{
    left: 20rem;
    bottom: 13rem;
    width: 7%;
}

#sheet-music10:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music11
{
    left: 32rem;
    bottom: 8rem;
    width: 2%;
}

#sheet-music11:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music12
{
    left: 2rem;
    bottom: 7rem;
    width: 2%;
}

#sheet-music12:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music13
{
    left: 25rem;
    bottom: 12rem;
    width: 3%;
}

#sheet-music13:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music14
{
    left: 16rem;
    bottom: 13rem;
    width: 3%;
}

#sheet-music14:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music15
{
    left: 27rem;
    bottom: 9rem;
    width: 2%;
}

#sheet-music15:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music16
{
    right: 6rem;
    bottom: 5rem;
    width: 3%;
}

#sheet-music16:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music17
{
    right: 17rem;
    bottom: 6rem;
    width: 1%;
}

#sheet-music17:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music18
{
    left: 13rem;
    bottom: 12rem;
    width: 2%;
}

#sheet-music18:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music19
{
    left: 9rem;
    bottom: 15rem;
    width: 3%;
    z-index: 1;
}

#sheet-music19:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music20
{
    right: 30rem;
    bottom: 9rem;
    width: 2%;
}

#sheet-music20:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music21
{
    right: 22rem;
    bottom: 6rem;
    width: 2%;
}

#sheet-music21:hover
{
    animation: levitate 2s infinite;
    transform-origin: center;
}

#sheet-music22
{
    left: 4rem;
    bottom: 6rem;
    width: 13%;
}

#sheet-music22:hover
{
    animation: levitate 2s infinite;
    /* transform-origin: center; */
}

@keyframes levitate 
{
    0% { transform: translateY(0px) rotate(-1deg); }
    50% { transform: translateY(-2px) rotate(1deg); }
    100% { transform: translateY(0px) rotate(-1deg); }
}
