
#about
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#container-about
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.about-text
{
    font-size: 1.8rem;
    color: #000;
}

.about-card img
{
    width: 50%;
    border-radius: 2rem;
}

.about-card
{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(255, 221, 152);
    width: 80%;
    padding: 0 2rem 2rem 2rem;
    /* gap: 2rem; */
    border-radius: 2rem;
    box-shadow: 5px 10px 15px lightgray;
}

#container-text-scroll
{
    margin: 0 3rem 0 3rem;
}

#text-scroll
{
    text-align: center;
}

.chor-buttons
{
    display: flex;
    gap: 1rem;
}

.chor-buttons button
{
    flex: auto;
    font-size: 2rem;
    height: 6rem;
    border: none;
    background-color: rgb(255, 221, 152);
    /* box-shadow: #000 0px 0px 10px; */
    /* border-radius: 0 0 2rem 2rem; */
    cursor: pointer;
}

button.active
{
    /* background-color: rgb(255, 221, 152); */
    background-color: rgb(233, 202, 139);
}

.about-card-text
{
    display: flex;
    gap: 1rem;
    /* box-shadow: #000 0px 0px 10px; */
    background-color: rgb(233, 202, 139);
}