#concerts
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

#concert-table
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: black;
    border-collapse: collapse;
}

#container-concert
{
    color: #fff;
    background-color: lightgray;
    box-shadow: 5px 10px 15px lightgray;
    border-radius: 2rem;
    padding: 2rem;
    width: 80%;
}

#container-concert h1
{
    color: black;
    text-align: center;
}

table tr td
{
    padding: 1rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

table tr td:last-child
{
    border-right: none;
}

table tr th
{
    padding: 1rem;
    border-right: 1px solid black;
}

table tr th:last-child
{
    border-right: none;
}