#home
{
    margin-top: 5rem;
    color: white;
}

.container-home 
{
    display: flex;
    height: 100vh;
    /* align-items: center; */
}

.text-container
{
    display: flex;
    margin-left: auto;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.barline-container img
{
    width: 100%;
}

.svg-container
{
    margin: auto;
    height: 22%;
    width: 50%;
    background-size: cover;
    background-image: url(../svg/goldenstripe.svg);
}

.text-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}

#text-scroll
{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    transition: font-size 1s;
}