#home
{
    margin-top: 3rem;
    color: white;
}

.container-home 
{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.text-container
{
    display: flex;
    text-align: right;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.svg-container
{
    margin: auto;
    height: 22%;
    width: 50%;
    background-size: cover;
    background-image: url(../svg/goldenstripe.svg);
}

.text-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}

#text-scroll
{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    transition: font-size 1s;
}