@media (min-width: 1300px) 
{
    #home
    {
        margin-top: 6rem;
        /* color: white; */
    }

    .container-home 
    {
        display: flex;
        height: 100vh;
        /* align-items: center; */
    }

    .text-container
    {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .barline-container img
    {
        width: 100%;
    }

    .svg-container
    {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../svg/goldenstripe.svg);
    }

    /* .text-card
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        color: white;
        font-size: 1.5rem;
    } */

    .text-card a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        /* color: white; */
        font-size: 2.5rem;
    }

    #text-scroll
    {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        transition: font-size 1s;
    }

    .test
    {
        display: flex;
    }
}

@media (min-width: 320px) and (max-width: 768px)
{
    #home
    {
        margin-top: 10rem;
    }

    .container-home 
    {
        display: flex;
        /* height: 100vh; */
    }

    .text-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: .5rem;
        margin-top: 5rem;
        justify-content: center;
    }

    .barline-container img
    {
        width: 100%;
    }

    .svg-container
    {
        display: flex;
        justify-content: center;
        align-self: center;
        height: 5rem;
        width: 10rem;
        /* gap: .5; */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../svg/goldenstripe.svg);
    }

    .text-card
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        color: white;
        font-size: 1.5rem;
    }

    .text-card a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* color: white; */
        font-size: 1.5rem;
    }

    #text-scroll
    {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        transition: font-size 1s;
    }

    .test
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
