.star
{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
    border-radius: 50%;
    animation: blinking-star 20s linear infinite;
}

@keyframes blinking-star
{
    0%,100%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
}